:root {
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);

    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 97%);
    --white: hsl(0, 0%, 98%);
}

footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkBlue);

    padding-block: 30px;
}

footer > img {
    margin: 10px;
    width: 40%;
    height: auto;
}


footer .social-midias {
    display: flex;
    justify-content: space-around;

    margin: 10px;
    width: 60%; 
}

footer .social-midias img {
    width: 10%;
    height: auto;
}

footer .links a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 3vh;
}

.links {
    display: flex;
    flex-direction: column;
}

footer p {
    color: white;
    opacity: 0.5;
    font-size: 3vh;
}

footer .link {
    background: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
    padding: 10px;
    border-radius: 20px;
    width: 40%;
    margin-top: 20px;

    text-align: center;
    color: var(--white);
    text-decoration: none;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 425px) {
    .footer {
        display: flex;
        flex-direction: row;
        max-height: 200px;
    }

    .footer .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
    }

    .footer .logo img {
        width: 200px;
    }

    .logo .social-midias > img{
        width: 20px;
    }

    .links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: space-around;
        width: 30%;
    }
    .links > a {
        width: 40%;
        padding: 10px;
    }

    .link a:hover {
        background-color: rgba(0, 0, 0, 0.557);
        border-radius: 10px;
    }

    .copyright {
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        margin-left: 6%;
        align-self: flex-start;
    }

    
}
